/* Header */
header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}
header .navlist{
  width: 100%;
}

.banner{
  margin-top: 55px;
  height: 400px;
  background: url(./src/img/banner/banner.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

/* Banner */
.container-banner{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-banner h1{
  padding: 10px;
}

/* Sobre */
.sobre{
  margin-top: 50px;
  box-sizing: border-box;
}
.container-sobre{
  padding: 0 10px;
  min-height: 360px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.container-sobre img{
  width: 360px;
  height: 360px;
  object-fit: cover;
}
.container-sobre p{
  padding: 10px;
  font-size: 1.2rem;
  width: 70%;
}

/* parador-pasedag  */
.parador-pasedag{
  margin-top: 50px;
  box-sizing: border-box;
}
.container-parador-pasedag{
  padding: 0 10px;
  min-height: 360px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.container-parador-pasedag img{
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.container-parador-pasedag p{
  padding: 10px;
  font-size: 1.2rem;
  width: 70%;
}

/* Location */
.container-location{
  margin-top: 30px;
  font-size: 1.2rem;
  text-align: center;
}
.container-location iframe{
  width: 100%;
  padding: 10px;
}

/* Reserva */
.reserva {
  margin-top: 30px;
  background-image: url(./src/img/reserva/bg-reserva.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 400px; 
  margin-bottom: 600px;

}
.container-reserva{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 10px;
}
.container-reserva h3{
  text-align: center;
  color: white;
  margin-top: 7px;
  font-size: 3rem;
}
.container-reserva h5{
  text-align: center;
  color: white;
  margin-top: 7px;
  font-size: 2.3rem;
}
.container-reserva .btn-reserva{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  width: 200px;
  height: 50px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  background: #29995F;
  margin: 0 auto;
}
.container-reserva .btn-reserva i{
  margin-right: 5px;
  margin-top: 5px;
  
}